/* LAYOUT
=================================================
Document		: Layout CSS Document hastuzeit.de
Version			: 1.0.0
Client			: hastuzeit
Author			: Matthias Kretschmann
Author Contact	: krema@jpberlin.de
Author WebSite	: matthiaskretschmann.com
*/

html, body {
	background: #122d45 url(../images/back.png) repeat left top;
	width: 100%;
	height: 100%;
}

div {
	position: relative;
}

#beta {
	width: 76px;
	height: 80px;
	position: absolute;
	top: -20px;
	right: -20px;
	background: url(../images/beta.png) no-repeat left top;
	z-index: 99;
}

#wrapper, #footer {
	width: 920px;
	margin: 20px auto 0;
	background-color: #f7f7f7;
	padding: 20px;
	border: 1px solid #fff;
}

#wrapper {
	box-shadow: 0 5px 20px #000;
	-webkit-box-shadow: 0 5px 20px #000;
	-moz-box-shadow: 0 5px 20px #000;
	padding-bottom: 50px;
	background-image: url(../images/featured-grad.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}

#header {
	margin-bottom: 10px;
	background-color: #CC3399;
}

#content {
	float: left;
	width: 100%;
	margin-top: 30px;
}

#main {
	width: 590px;
	float: left;
	clear: both;
	margin-top: 10px;
}

#sidebar {
	width: 290px;
	float: right;
	margin-top: 10px;
}

#footer, #copyright {
	clear: both;
	background: none;
	border: none;
	margin-bottom: 20px;
}

/* @group Header */

#header h1 {
	border: none;
}

#header h1 a {
	display: block;
	background: url(../images/hastuzeit-logo.png) no-repeat 20px center;
	min-height: 85px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#header h1, #header p {
	text-indent: -99999999px;
	margin: 0;
}

#header p {
	position: absolute;
}

/* @end */

/* @group Navigation */

#navigation {
	border-top: 4px double #ff6600;
	border-bottom: 1px solid #ff6600;
	width: 100%;
	float: left;
}

#navigation li {
	float: left;
}

#navigation li#texte {
	
}

#navigation li ul {
	position: absolute;
	display: none;
	width: 920px;
	float: left;
	margin-top: 1px;
}

#navigation li#texte:hover > ul,
#navigation li#texte > ul:hover,
#navigation .current_page_item > ul  {
	display: block;
}

#navigation a {
	min-width: 80px;
	padding: 0 10px;
	height: 40px;
	margin-right: 10px;
	display: block;
	line-height: 2.4em;
	text-align: center;
}

#navigation a:hover, .current_page_item a {
	color: #000;
	background: #e0e2e5 url(../images/menu-zipfel.png) no-repeat center bottom;
}

.category-heftarchiv #texte.current_page_item a {
	background: none;
}

.category-heftarchiv #texte ul {
	display: none;
}

#navigation ul a {
	background: none;
	height: 25px;
	line-height: 2.2em;
}

#navigation ul a:hover {
	background-image: none;
}

/* @end */

/* @group Featured */

#featured {
	min-height: 260px;
	width: 635px;
	border: 3px solid #dadada;
	clear: both;
	float: left;
	box-shadow: 0px 5px 5px #7f7f7f;
	-webkit-box-shadow: 0px 5px 5px #7f7f7f;
	-moz-box-shadow: 0px 5px 5px #7f7f7f;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#7f7f7f, offX=5, offY=5, positive=true);
	margin: 10px 0 30px -52px;
	z-index: 3;
	background: #f7f7f7 url(../images/featured-grad.png) repeat-x left bottom;
}

#featured_head {
	padding-bottom: 23px;
}

#featured .post {
	clear: none;
	padding: 23px 20px 20px;
}

.featured_media, .featured_text {
	float: left;
	overflow: auto;
}

.featured_media {
	width: 170px;
}

.featured_text {
	width: 420px;
	min-height: 180px;
}

.scroll {
  	height: 210px;
  	overflow: hidden;
  	position: relative;
  	clear: left;
  	background: url(../images/featured-shadow.png) repeat-x left bottom;
	margin-top: -30px;
}

.scrollContainer div.panel {
	width: 600px; 
}

#shade {
	overflow: hidden;
	padding: 5px 5px 10px 20px;
}

.featured_nav .thumb {
	float: left;
}

.featured_nav a {
	width: 60px;
	height: 61px;
	display: block;
	float: left;
	padding-top: 1px;
	margin-right: 7px;
}

.featured_nav a:hover, .featured_nav a:active {
	background-color: transparent;
}

.featured_nav a.selected {
	background: url(../images/menu-zipfel.png) no-repeat 22px top;
}

.featured_nav a.selected img,
.featured_nav a:hover img {
	border-color: #ff6600;
	-moz-box-shadow: 0 1px 4px #5e5e5e;
	-webkit-box-shadow: 0 1px 4px #5e5e5e;
	box-shadow: 0 1px 4px #5e5e5e;
}

.scrollButtons {
  position: absolute;
  top: 180px;
  cursor: pointer;
  border: none;
  z-index: 99;
}

.scrollButtons.left {
  left: -20px;
}

.scrollButtons.right {
  right: -20px;
}

#zipfel {
	background: url(../images/zipfel.png) no-repeat left top;
	width: 31px;
	height: 22px;
	position: absolute;
	left: -3px;
	bottom: -25px;
	z-index: 2;
}

#ausgabe {
	float: left;
	width: 290px;
	margin-left: 40px;
	margin-top: 0;
}

#ausgabe .post {
	margin: 0;
	width: 100%;
}

#ausgabe img {
	margin: 0;
}

#ausgabe h3 {
	margin-top: 23px;
	display: block;
	margin-bottom: 28px;
}

#ausgabe h4 {
	float: right;
	width: 60%;
	margin-top: 5px;
}

#ausgabe h4 a {
	background: #e0e2e5 url(../images/more-link-down.png) no-repeat 2px center;
	border: 1px solid #ccc;
	padding: 7px 5px 7px 20px;
}

/* @end */

/* @group Article Styling */

.post, .hentry {
	margin: 0 0 40px;
	clear: both;
	float: left;
}

#main .post, #main .hentry {
	width: 100%;
}

.meta {
	border-bottom: 1px solid #ff6600;
	border-top: 1px solid #ff6600;
	padding: 2px 0;
	overflow: auto;
	clear: both;
}

#more-content {
	overflow: auto;
	clear: both;
	margin-bottom: 30px;
}

#more-content img {
	margin: 0 10px 0 0;
}

#more-content .column {
	width: 48%;
	float: left;
	padding-right: 10px;
}

#more-content li {
	width: 100%;
	margin-bottom: 10px;
}

#more-content li a {
	display: block;
	height: 33px;
	background: #e0e2e5 url(../images/button-overlay.png) repeat-x;
	border: 1px solid #ccc;
	text-shadow: #fff 0 1px 0;
	color: #122d45;
	-webkit-transition: background-color linear 0.2s;
}

.next-links, .wp-pagenavi {
	clear: both;
	margin: 10px 0;
	overflow: auto;
	border-top: 4px double #ff6600;
	padding-top: 10px;
	padding-bottom: 10px;
}

.wp-pagenavi {
	clear: both;
	margin: 10px 0;
	overflow: auto;
	border-top: 4px double #ff6600;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

.home #tabnav {
	display: none;
}

.home.paged #tabnav {
	display: block;
}

#tabnav .wp-pagenavi {
	position: absolute;
	left: -65px;
	width: 45px;
	border: none;
	overflow: hidden;
}

.next-links .alignleft, .next-links .alignright {
	max-width: 49%;
}

.next-links a, .wp-pagenavi a, .wp-pagenavi .current {
	display: block;
	color: #122D45 !important;
	padding: 5px 10px !important;
	border: 1px solid #ccc !important;
	text-shadow: #fff 0 1px 0;
	-webkit-transition: background-color linear 0.2s;
}

.wp-pagenavi a, .wp-pagenavi .current {
	display: inline-block !important;
	min-width: 20px !important;
	height: 20px !important;
	background: #e0e2e5 url(../images/button-overlay.png) repeat-x  !important;
}

.wp-pagenavi .extend {
	width: 10px !important;
	height: 20px !important;
	padding: 5px !important;
	background: none !important;
	border: none !important;
}

#tabnav .wp-pagenavi .last {
	padding-left: 2px !important;
}

#tabnav .wp-pagenavi a {
	display: block;
	clear: both;
	background-color: rgba(224,226,229,0.5) !important;
	border-color: rgba(255,255,255,0.4) !important;
	text-shadow: #99afc1 0 1px 0;
}

.next-links .alignleft a {
	background: #e0e2e5 url(../images/more-link-left.png) no-repeat 5px center;
	padding-left: 25px !important;
}

.next-links .alignright a {
	background: #e0e2e5 url(../images/more-link.png) no-repeat right center;
	padding-right: 20px !important;
}

.next-links a:hover, .page-template-page-heftarchiv-php .post h4 a:hover, #ausgabe h4 a:hover, .wp-pagenavi a:hover, .wp-pagenavi .current, #tabnav .wp-pagenavi a:hover {
	color: #fff !important;
	background-color: #ff6600 !important;
	text-shadow: #666 0 1px 0 !important;
}

/* @end */

/* @group Heftarchiv */

.page-template-page-heftarchiv-php #main {
	overflow: auto;
	
}

.page-template-page-heftarchiv-php #main .post {
	width: 43%;
	margin: 8px;
	float: left;
	clear: none;
	color: #122D45;
	padding: 10px;
	border: 1px solid #ccc;
	background: url(../images/featured-grad.png) repeat-x left bottom;
}

.page-template-page-heftarchiv-php #main .post:hover {
	background-color: #f2f2f2;
}

.page-template-page-heftarchiv-php #main .post img {
	margin-bottom: 0;
	margin-right: 5px;
	margin-top: 0;
}

.page-template-page-heftarchiv-php #main .post h3 {
	margin-top: 0;
}

.page-template-page-heftarchiv-php .post h4 {
	margin: 0 0 10px;
}

.page-template-page-heftarchiv-php .post h4 a,
#ausgabe h4 a {
	background: #e0e2e5 url(../images/more-link-down.png) no-repeat 5px center;
	border: 1px solid #ccc;
	padding: 4px 5px 4px 25px;
	width: 110px;
	display: inline-block;
	-webkit-transition: background-color linear 0.2s;
}

#ausgabe h4 a {
	width: 145px;
}

.page-template-page-heftarchiv-php .post h4 a.read,
#ausgabe h4 a.read {
	background-image: url(../images/read.png);
	
}

.accordionContent {
	overflow: auto;
}

.accordionButton {
	padding: 5px;
}

/* @end */

/* @group Sidebar */

#sidebar .column {
	width: 46%;
}

#sidebar-left {
	float: left;
}

#sidebar-right {
	float: right;
}

#sidebar li.widget {
	margin: 30px 0;
}

#sidebar form {
	padding-bottom: 10px;
	border-bottom: 1px solid #ff6600;
}

#sidebar input[type=text] {
	width: 194px;
	margin-right: 5px;
	border: 1px solid #dadada;
}

#sidebar label {
	display: none;
}

/* @end */

/* @group Form Styles */

label {
	
}

input, textarea {
	padding: 5px;
	border: 1px solid #ccc;
}

textarea {
	max-width: 580px;
}

input[type=submit] {
	background: #122d45 url(../images/button-overlay.png) repeat-x;
	padding: 5px 10px 6px;
	cursor: pointer;
	color: #fff;
	-moz-box-shadow: 0 1px 3px #5e5e5e;
	-webkit-box-shadow: 0 1px 3px #5e5e5e;
	box-shadow: 0 1px 3px #5e5e5e;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	border-top: none;
	border-left: none;
	border-right: none;
	position: relative;
	cursor: pointer;
	display: inline-block;
	top: -1px;
}

/* @end */

/* @group Search */

.search-results .hentry .image {
	width: 20%;
	margin-right: 10px;
}

.search-results .hentry .text {
	width: 78%;
}

.search-results #main #s, .error404 #main #s {
	width: 500px;
	margin-bottom: 30px;
}

#live-search {
	width: 100%;
	background: #f9f9f9 url(../images/featured-grad.png) repeat-x left bottom;
	box-shadow: 0px 5px 5px #7f7f7f;
	-webkit-box-shadow: 0px 5px 5px #7f7f7f;
	-moz-box-shadow: 0px 5px 5px #7f7f7f;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#7f7f7f, offX=5, offY=5, positive=true);
	overflow: auto;
}

/* @end */

/* @group Comments */

#respond {
	clear: both;
	margin-top: 15px;
}

#respond, #respond form {
	overflow: auto;
	padding: 10px 2px 20px;
}

#respond form p {
	float: right;
	clear: right;
}

#respond form textarea {
	float: left;
	width: 360px;
	margin-top: -85px;
}

#respond input[type=submit] {
	margin-top: 1em;
	clear: both;
	float: left;
	margin-left: 2px;
}

/* @end */

/* @group Footer */

#footer {
	padding: 5px;
}

#footer ul {
	margin-left: 240px;
	overflow: auto;
}

#footer li {
	float: left;
	margin: 0 10px;
}

#copyright {
	margin-top: 30px;
}

/* @end */

/* @group WordPress Styles */

.aligncenter { 
	display:block; 
	margin:0 auto 
}

.alignleft { float:left }

img.alignleft, .wp-caption.alignleft { 
	margin: 5px 20px 20px 0;
}

img.alignright, .wp-caption.alignright { 
	margin: 5px 0 20px 20px;
}

img.aligncenter, .wp-caption.aligncenter {
	margin: 20px auto;
}
.alignright { float:right }

.wp-caption { 
	border: 1px solid #ccc;
	background: #e0e2e5;
	padding: 10px; 
	margin: 10px }

/* @end */
br.dirtyLittleTrick { clear:both; display:block; height:1px; margin:-1px 0 0 0 }

.clear {
	clear: both;
}

#topcontrol {
	right: 0 !important;
	bottom: 0 !important;
	width: 40px;
	height: 40px;
	display: block;
	background: url(../images/top.png) no-repeat left top;
}

.qtip-wrapper {
	box-shadow: 0px 3px 5px #7f7f7f;
	-webkit-box-shadow: 0px 3px 5px #7f7f7f;
	-moz-box-shadow: 0px 3px 5px #7f7f7f;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#7f7f7f, offX=3, offY=5, positive=true);
	background: #fff url(../images/tip.png) repeat-x left bottom;
	
}

/* @group Thickbox */

* {
	padding: 0;
	margin: 0;
}

#TB_window {
	color: #333333;
}

#TB_secondLine {
	color: #666666;
}

#TB_secondLine span {
	
}

#TB_secondLine a {
	width: 100px;
	font-size: 1em;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
	background-color: #e6e6e6;
	color: #444;
	-webkit-transition: background 0.3s linear;
	padding: 2px 5px;
}

#TB_secondLine #TB_prev {
	margin-left: 20px;
}

#TB_window a:link {
	color: #666666;
}

#TB_window a:visited {
	color: #666666;
}

#TB_window a:hover {
	color: #000;
}

#TB_window a:active {
	color: #666666;
}

#TB_window a:focus {
	color: #666666;
}

#TB_overlay {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.TB_overlayBG, .TB_overlayMacFFBGHack {
	background-color: #fff;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

* html #TB_overlay {


/* ie6 hack */
     position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	border: 1px solid #ccc;
	background: #f6f6f6 url(../images/featured-grad.png) repeat-x left bottom;
	z-index: 102;
	color: #000000;
	display: none;
	text-align: left;
	top: 50%;
	left: 50%;
	box-shadow: #ccc 0px 2px 5px;
	-webkit-box-shadow: #ccc 0px 2px 5px;
	-moz-box-shadow: #ccc 0px 2px 5px;
	-khtml-box-shadow: #ccc 0px 2px 5px;
	text-shadow: #fff 0 1px 0;
}

* html #TB_window {


/* ie6 hack */
position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display: block;
	margin: 15px 0 0 15px;
}

#TB_caption {
	padding: 7px 30px 10px 15px;
	float: left;
}

#TB_closeWindow {
	height: 25px;
	padding: 11px 15px 10px 0;
	float: right;
	margin-top: 5px;
}

#TB_closeAjaxWindow {
	padding: 7px 10px 5px 0;
	margin-bottom: 1px;
	text-align: right;
	float: right;
}

#TB_ajaxWindowTitle {
	float: left;
	padding: 7px 0 5px 10px;
	margin-bottom: 1px;
}

#TB_title {
	background-color: #e8e8e8;
	height: 27px;
}

#TB_ajaxContent {
	clear: both;
	padding: 2px 15px 15px 15px;
	overflow: auto;
	text-align: left;
	line-height: 1.4em;
}

#TB_ajaxContent.TB_modal {
	padding: 15px;
}

#TB_ajaxContent p {
	padding: 5px 0px 5px 0px;
}

#TB_load {
	position: fixed;
	display: none;
	height: 13px;
	width: 208px;
	z-index: 103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -10

4px;
/* -height/2 0 0 -width/2 */
}

* html #TB_load {


/* ie6 hack */
position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect {
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	border: none;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height: 100%;
	width: 100%;
}

* html #TB_HideSelect {


/* ie6 hack */
     position: absolute;
	height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent {
	clear: both;
	border: none;
	margin-bottom: -1px;
	margin-top: 1px;
	_margin-bottom: 1px;
}

/* @end */