/* LAYOUT
=================================================
Document		: Layout CSS Document hastuzeit.de
Version			: 1.0.0
Client			: hastuzeit
Author			: Matthias Kretschmann
Author Contact	: krema@jpberlin.de
Author WebSite	: matthiaskretschmann.com
*/

html, body {
	background: #122d45 url(../images/back.png) repeat left top;
	width: 100%;
	height: 100%;
}

div {
	position: relative;
}

#beta {
	width: 76px;
	height: 80px;
	position: absolute;
	top: -20px;
	right: -20px;
	background: url(../images/beta.png) no-repeat left top;
	z-index: 99;
}

#wrapper, #footer {
	width: 920px;
	margin: 20px auto 0;
	background-color: #f7f7f7;
	padding: 20px;
	border: 1px solid #fff;
}

#wrapper {
	-webkit-box-shadow: 0 5px 20px #000;
	padding-bottom: 50px;
}

#header {
	margin-bottom: 10px;
	background-color: #CC3399;
}

#content {
	float: left;
	width: 100%;
	margin-top: 30px;
}

#main {
	width: 590px;
	float: left;
	clear: both;
	margin-top: 10px;
}

#sidebar {
	width: 290px;
	float: right;
	margin-top: 30px;
}

#footer, #copyright {
	clear: both;
	background: none;
	border: none;
	margin-bottom: 20px;
}

#header h1 {
	border: none;
}

#header h1 a {
	display: block;
	background: url(../images/hastuzeit-logo.png) no-repeat 20px center;
	min-height: 85px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#header h1, #header p {
	text-indent: -99999999px;
	margin: 0;
}

#header p {
	position: absolute;
}

/* Navigation */

#navigation {
	border-top: 4px double #ff6600;
	border-bottom: 1px solid #ff6600;
	width: 100%;
	float: left;
}

#navigation li {
	float: left;
}

#navigation li#texte {
	
}

#navigation li ul {
	position: absolute;
	display: none;
	width: 920px;
	float: left;
	margin-top: 1px;
}

#navigation li#texte:hover > ul,
#navigation li#texte > ul:hover,
#navigation .current_page_item > ul  {
	display: block;
}

#navigation a {
	min-width: 80px;
	padding: 0 10px;
	height: 40px;
	margin-right: 10px;
	display: block;
	line-height: 2.4em;
	text-align: center;
}

#navigation a:hover, .current_page_item a {
	color: #000;
	background: #e0e2e5 url(../images/menu-zipfel.png) no-repeat center bottom;
}

#navigation ul a {
	background: none;
	height: 25px;
	line-height: 2.2em;
}

#navigation ul a:hover {
	background-image: none;
}

/* Featured */

#featured {
	min-height: 260px;
	width: 635px;
	border: 3px solid #dadada;
	clear: both;
	float: left;
	box-shadow: 0px 5px 5px #7f7f7f;
	-webkit-box-shadow: 0px 5px 5px #7f7f7f;
	-moz-box-shadow: 0px 5px 5px #7f7f7f;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#7f7f7f, offX=5, offY=5, positive=true);
	margin: 30px 0 30px -52px;
	z-index: 3;
	background: #f7f7f7 url(../images/featured-grad.png) repeat-x left bottom;
}

#featured .post {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#zipfel {
	background: url(../images/zipfel.png) no-repeat left top;
	width: 31px;
	height: 22px;
	position: absolute;
	left: -3px;
	bottom: -25px;
	z-index: 2;
}

#ausgabe {
	float: left;
	width: 290px;
	margin-left: 40px;
	margin-top: 30px;
}

#ausgabe .post {
	margin: 0;
	width: 100%;
}

#ausgabe img {
	margin: 0;
}

#ausgabe h3 {
	margin-top: 0;
	display: block;
	margin-bottom: 28px;
}

#ausgabe h4 {
	float: right;
	width: 60%;
	margin-top: 0;
}

/* Article Styling */

.post {
	margin: 20px 0;
	clear: both;
	float: left;
}

#main .post {
	width: 100%;
}

.meta {
	border-bottom: 1px solid #ff6600;
	border-top: 1px solid #ff6600;
	padding: 2px 0;
	overflow: auto;
	clear: both;
}

.author-info {
	padding: 10px;
	border: 1px dotted #788490;
}

.next-links {
	clear: both;
	margin: 10px 0;
	overflow: auto;
	border-top: 4px double #ff6600;
	padding-top: 10px;
}

.next-links .alignleft, .next-links .alignright {
	max-width: 49%;
}

.next-links a {
	display: block;
	color: #122D45;
	padding: 5px;
	border: 1px solid #ccc;
}

.next-links .alignleft a {
	background: #e0e2e5 url(../images/more-link-left.png) no-repeat 5px center;
	padding-left: 25px;
}

.next-links .alignright a {
	background: #e0e2e5 url(../images/more-link.png) no-repeat right center;
	padding-right: 20px;
}

.next-links a:hover {
	color: #fff;
	background-color: #ff6600;
	text-shadow: #666 0 1px 0;
}

/* Sidebar */

#sidebar .column {
	width: 46%;
}

#sidebar-left {
	float: left;
}

#sidebar-right {
	float: right;
}

#sidebar li.widget {
	margin: 30px 0;
}

#sidebar form {
	padding-bottom: 20px;
	border-bottom: 1px solid #ff6600;
}

#sidebar input[type=text] {
	width: 198px;
	margin-right: 5px;
	border: 1px solid #dadada;
}

#sidebar label {
	display: none;
}

/* Form Styles */

label {
	
}

input, textarea {
	padding: 5px;
	border: 1px solid #eaeaea;
}

textarea {
	max-width: 580px;
}

input[type=submit] {
	background-color: #eaeaea;
	border-color: #ccc;
	padding: 5px;
	cursor: pointer;
	color: #122D45;
}

/* Search */

/* Comments */

#respond {
	clear: both;
	margin-top: 15px;
}

#respond, #respond form {
	overflow: auto;
}

#respond form p {
	float: right;
	clear: right;
}

#respond form textarea {
	float: left;
	width: 360px;
	margin-top: -85px;
}

#respond input[type=submit] {
	margin-top: 1em;
	clear: both;
	float: left;
}

/* Footer */

#footer {
	padding: 5px;
}

#footer ul {
	margin-left: 240px;
	overflow: auto;
}

#footer li {
	float: left;
	margin: 0 10px;
}

/* @group WordPress Styles */

.aligncenter { 
	display:block; 
	margin:0 auto 
}

.alignleft { float:left }

img.alignleft, .wp-caption.alignleft { 
	margin: 5px 20px 20px 0;
}

img.alignright, .wp-caption.alignright { 
	margin: 5px 0 20px 20px;
}

img.aligncenter, .wp-caption.aligncenter {
	margin: 20px auto;
}
.alignright { float:right }

.wp-caption { 
	border: 1px solid #ccc;
	background: #e0e2e5;
	padding: 10px; 
	margin: 10px }

/* @end */
br.dirtyLittleTrick { clear:both; display:block; height:1px; margin:-1px 0 0 0 }