/*
hastuzeit Custom Login
Author: Matthias Kretschmann
Author URI: http://kremalicious.com
*/

html, body {
	background: #122d45 url(../images/back.png) repeat left top;
}

body.login {
	border-top: none;
	padding-top: 44px;
	height: 100%;
}

#backtoblog a {
	color: #fff !important;
	text-shadow: #000 0 1px 0;
	font-size: 1.3em;
	top: 0;
	padding: 5px;
}

#backtoblog a:hover {
	background-color: #eaeaea;
	color: #000 !important;
	text-shadow: #fff 0 1px 0;
}

a, .login #nav a {
	color: #ff6600 !important;
	text-decoration: none;
	text-shadow: none;
}

#login h1 a {
	background: url(../images/hastuzeit-logo.png) no-repeat left top;
	display: block;
	width: 220px;
	margin: 0 auto;
}

form {
	background: #f9f9f9 url(../images/featured-grad.png) repeat-x left bottom;
	box-shadow: 0px 5px 5px #000;
	-webkit-box-shadow: 0px 5px 5px #000;
	-moz-box-shadow: 0px 5px 5px #000;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#000, offX=5, offY=5, positive=true);
}

#login form .submit input#wp-submit {
	background: #eaeaea !important;
	border-color: #ccc !important;
	padding: 5px;
	cursor: pointer;
	color: #122D45 !important;
	text-shadow: none;
}

#login form .submit input#wp-submit:hover {
	color: #fff !important;
	background: #ff6600 !important;
	text-shadow: #666 0 1px 0;
}

#login form .submit input#wp-submit:active {
	background: #000 !important;
}