/* TYPOGRAPHY */
/* 
---------------------------------------- */

body {
	text-align: center;
	font: 82.5%/1.7em Georgia, "Times New Roman", Times, serif;
	color: #122D45;
}

#wrapper {
	text-align: left;
	font-size: 1em;
}

#content {
	font-size: 1.1em;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1 {
	font-size: 197%;
}


h2 {
	font-size: 2em;
	border-bottom: 2px solid #ff6600;
	margin: 30px auto 10px;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 20px;
}

h4 {
	font-size: 152%; /* 20px */
}

h5 {
	font-size: 136%; /* 18px */
}

#sidebar h4 {
	border-bottom: 2px solid #ff6600;
}

/* Paragraph styles */

p {
	margin-bottom: 1em;
}

em {
	font-style: italic;
}

acronym {
	border-bottom: 1px dotted #a6b3be;
	cursor: help;
}

/* Links */

a {
	color: #ff6600;
}

a:hover {
	color: #000;
}

a:active {
	
}

a img,img {
	display: block;
	border: 3px solid #dadada;
	-webkit-transition: border-color linear 0.2s;
}

a img:hover {
	border: 3px solid #ff6600;
}

.alert { background:red; color:white }