/* TYPOGRAPHY
=================================================
Document		: Typography CSS Document hastuzeit.de
Version			: 1.0.0
Client			: hastuzeit
Author			: Matthias Kretschmann
Author Contact	: krema@jpberlin.de
Author WebSite	: matthiaskretschmann.com
*/

/* @group THE RESET */
*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul,li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}strong{font-weight:700}em{font-style:italic}a img{border:none}

/* @end */

/* START */

body {
	text-align: center;
	font: normal 82.5%/1.7em Georgia, "Times New Roman", Times, serif;
	color: #122D45;
}

#wrapper {
	background-color: #f7f7f7;
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;	
}

#content  {
	font-size: 1.1em;
	text-align: left;
}

/* @group Headings */

@font-face {
	font-family: "Aller Bold";
	src: local("Aller Bold"), url(../fonts/Aller_Bd.ttf);
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6, 
.next-links, 
p.subscribe-to-comments, #pinnwand .date, 
#front-admin, 
.comment-author, 
.reply, 
table.ec3_schedule, 
#secondnav, 
#respond form p, 
.comment.bypostauthor:before,
#authorinfo span,
a.post-edit-link, 
a#login-link.loggedin,
a#profile-edit-link,
#commentluv,
.similar-posts a {
	font-weight: bold;
	font-family: "Aller Bold", "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: #fff 0 1px 0;
}

h1, h2 {
	font-size: 2em;
	margin: 10px auto;
	line-height: 1.1em;
	clear: both;
}

.pagetitle {
	font-size: 1.8em;
	margin-bottom: 30px;
}

h2 a, #featured h4 a, #sidebarbottom h5 a {
	color: #122D45;
}

h3 {
	font-size: 1.4em;
	margin-top: 25px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ff6600;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

h5 {
	font-size: 1em;
}

h4.description {
	margin-top: -20px;
	margin-bottom: 30px;
	min-height: 22px;
}

.post h1, .post h2 a, #featured h4 a, .pagetitle {
	display: block;
	margin-bottom: 20px;
	margin-top: -5px;
	background-image: url(../images/heading-line.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 3px;
}

#main h3 {
	clear: both;
}

#secondnav {
	font-size: 0.8em;
	text-shadow: none;
}

#secondnav a:hover,
#front-admin a:hover {
	color: #122d45;
}

#secondnav a:active,
#front-admin a:active {
	color: #fff;
}

#secondnav .current_page_item a {
	color: #122d45;
	background: #e0e2e5 url(../images/hastuzeit-master.png) no-repeat 50px -103px;
	border-bottom: 1px solid #ff6600;
}

/* @end */

/* @group Links */

a {
	color: #ff6600;
	text-decoration: none;
}

a:hover, a:focus {
	color: #000;
	background-color: #e0e2e5;
	-moz-outline-style: none;
}

a:active {
	background-color: #122D45;
	color: #fff;
	outline: none;
}

body a img, body img {
	display: block;
	border: 3px solid #dadada;
	-webkit-transition: border-color linear 0.2s;
}

a img:hover {
	border: 3px solid #ff6600;
}

/* @end */

/* @group Paragraph Styles */

p {
	margin-bottom: 1em;
}

em {
	font-style: italic;
}

acronym {
	border-bottom: 1px dotted #a6b3be;
	cursor: help;
}

.hentry ul {
	margin-left: 30px;
	margin-bottom: 1em;
}

.hentry ul li {
	list-style-position: outside;
	list-style-type: disc;
	margin-bottom: 10px;
}

blockquote {
	color: #72808d;
	margin-left: 30px;
	padding-left: 10px;
	border-left: 4px double #72808d;
}

/* @end */

/* @group Navigation */

#navigation {
	font-size: 1.2em;
}

#navigation li ul {
	font-size: 0.8em;
}

#navigation .cat-item a {
	color: #ff6600;
}

#navigation .current-cat a {
	color: #000;
	background: #e0e2e5;
}

#navigation li.feed a {
	text-align: left;
	font-size: 0.9em;
	line-height: 2.8em;
}

/* @end */

/* @group Article Styling */

.unterueber {
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 15px;
	border: none;
	line-height: 1.2em;
}

.author-link {
	font-style: italic;
}

.meta, 
.meta a, 
.meta .category-link a {
	color: #a8aeb6;
	text-shadow: #fff 0 1px 0;
	-webkit-transition: color 0.2s linear;
}

.post:hover .meta, 
.post:hover .meta a, 
.post:hover .meta .category-link a {
	color: #122d45;
}

.meta {
	font-size: 0.8em;
}

.meta span {
	margin-right: 20px;
}

.meta a:hover {
	color: #ff6600;
}

#more-content li a,
.similar-posts li a {
	padding: 3px 5px 3px 10px;
	line-height: 1.3em;
}

#more-content li h4,
.similar-posts li h4 {
	font-size: 1em;
	margin: 0;
}

.category-link a, .post-edit-link,
.post:hover .meta .category-link a {
	color: #122D45;
	background-color: #e0e2e5;
	padding: 1px 5px;
	text-shadow: #fff 0 1px 0;
	border: 1px solid #ccc;
	margin-right: 20px;
	-webkit-transition: background 0.2s linear;
}

.category-link a:hover, input[type=submit]:hover, .comment-link a:hover, .next-links a:hover, #more-content a:hover,
.meta .category-link a:hover,
.similar-posts li a:hover {
	color: #fff !important;
	background-color: #ff6600 !important;
	text-shadow: #666 0 1px 0 !important;
}

.category-link a:active, input[type=submit]:active, .comment-link a:active, .next-links a:active,
.meta .category-link a:active {
	background-color: #000;
	color: #fff;
}

.meta .category-link a {
	background-color: rgba(224,226,229,0.3);
	border-color: rgba(204,204,204,0.5);
}

.more-link {
	margin-top: 1em;
	background: url(../images/hastuzeit-master.png) no-repeat right -276px;
	padding-right: 22px;
}

.meta span.comment-link {
	margin-right: 0;
}

.comment-link a {
	background: url(../images/hastuzeit-master.png) no-repeat -437px -92px;
	padding-left: 18px;
	display: block;
	padding-right: 10px;
}

.next-links {
	line-height: 1.3em;
}

.heftbadge {
	line-height: 1em;
	color: #fff !important;
	text-shadow: #444 0 1px 0 !important;
	opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.heftbadge:hover {
	color: #ff6600 !important;
}

.post:hover .meta .heftbadge  {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

/* @end */

/* @group Featured */

#featured h3 {
	margin: 10px 20px 0;
	padding: 0;
}

#featured h4 {
	font-size: 1.7em;
	clear: none;
	margin-top: 5px;
	line-height: 1.1em;
}

#featured h5 {
	font-size: 1.1em;
}

#ausgabe h4  {
	font-size: 0.9em;
}

/* @end */

/* @group Heftarchiv */

.page-template-page-heftarchiv-php #main .post {
	font-size: 0.7em;
}

.page-template-page-heftarchiv-php #main h2 {
	border-bottom: 1px solid #ff6600;
}

.page-template-page-heftarchiv-php #main .post h3 {
	color: #ccc;
	font-size: 2em;
	padding: 0;
	line-height: 1.2em;
	border-color: #ccc;
}

.page-template-page-heftarchiv-php #main .post p {
	margin: 0;
}

.page-template-page-heftarchiv-php h3#readiculum {
	margin-top: 60px;
}

/* @end */

/* @group Sidebar */

#sidebar {
	font-size: 0.9em;
	text-shadow: #fff 0 1px 0;
}

#sidebar li {
	line-height: 1.3em;
	margin: 5px 0;
}

#sidebar a {
	display: block;
}

#sidebar h4 {
	margin-bottom: 5px;
	margin-top: 0;
}

#sidebarbottom h5 {
	margin-bottom: 0;
	font-size: 1.1em;
}

#sidebar #sidebarbottom .more .more-link {
	display: block;
	background-color: #e0e2e5;
}

#sidebar #sidebarbottom li {
	line-height: 1.4em;
}

#sidebar input[type=text] {
	font-size: 1.1em;
}

#pinnwand .date {
	font-size: 0.8em;
	margin: 0;
	display: block;
}

#pinnwand {
	color: #a8aeb6;
}

#pinnwand, #pinnwand li {
	-webkit-transition: color 0.2s linear;
}

#pinnwand:hover li,
#pinnwand h4 {
	color: #122d45;
}

#pinnwand:hover li .date {
	color: #a8aeb6;
}

/* @end */

/* Form Styles */

input, textarea, label, .label {
	font-weight: bold;
	font-size: 1.1em;
	font-family: "Aller Bold", "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
}

label, .label {
	font-size: 1em;
	color: #a8aeb6;
}

input.inactive,
textarea.inactive {
	color: #bebebe;
}

/* @group Search */

.search-results .hentry {
}

.search-results .hentry .meta {
	font-size: 0.7em;
}

.search-results .hentry .meta span {
	margin-right: 5px;
}

.search-results .hentry h2 {
	margin-top: 2px;
	margin-bottom: 0;
	font-size: 1.3em;
}

.search-results .hentry h2.unterueber {
	font-size: 0.9em;
}

#live-search {
	text-align: left;
}

.live-results h4 {
	font-size: 1em;
	line-height: 1.5em;
	color: #5e5e5e;
	margin: 0;
}

.live-results a {
	display: block;
	padding: 5px 10px;
	color: #5e5e5e;
}

.live-results a:hover {
	color: #ff6600;
	background-color: #fff;
}

.live-results a:active {
	background-color: #122D45;
	color: #fff;
	text-shadow: none;
}

strong.hls {
	background-color: #f8ffa9;
	padding: 2px;
}

/* @end */

/* Comments */

#respond input, #respond textarea {
	font-size: 0.9em;
}

#respond form p.subscribe-to-comments {
	font-size: 0.9em;
	line-height: 1.2em;
}

.comment-author, .comment-meta, .comment-meta a, .reply {
	font-size: 0.9em;
	line-height: 1.2em;
	color: #b1b7c1;
}

#commentluv a {
	color: #a8aeb6;
	margin-left: 1px;
}

.depth-2 {
	font-size: 0.9em;
}

/* @group Footer */

#footer {
	color: #f7f7f7;
}

#footer {
	text-align: left;
}

#footer p {
	margin-bottom: 0;
	font-size: 0.9em;
	line-height: 1.4em;
}

#footer a {
	padding: 3px 5px;
	display: inline-block;
}

#footer .current_page_item a {
	background-image: none;
}

#copyright, #copyright a {
	color: #8f9ba5;
	border-bottom: 1px dotted #5f6366;
	text-align: center;
}

#copyright a {
	padding: 0 2px;
}

#copyright a:hover {
	color: #000;
	border-bottom-color: #ff6600;
	border-bottom-style: solid;
}

/* @end */

/* @group WordPress Styles */
.wp-caption {
	font-size: 0.8em;
	line-height: 1.3em;
}

.wp-caption-text {
	margin-top: 5px;
	margin-left: 2px;
}

/* @end */