/* TYPOGRAPHY */
/* 
---------------------------------------- */

body {
	text-align: center;
	font: 82.5%/1.7em Georgia, "Times New Roman", Times, serif;
	color: #122D45;
}

#wrapper {
	text-align: left;
	font-size: 1em;
}

#content, #featured  {
	font-size: 1.1em;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-family: "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-style: normal;
}

h1, h2 {
	font-size: 2.3em;
	border-bottom: 2px solid #ff6600;
	margin: 30px auto 10px;
	line-height: 0.9em;;
}


h2 a {
	color: #122D45;
}

h3 {
	font-size: 1.4em;
	margin-top: 25px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ff6600;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

h5 {
	font-size: 1em;
}

#sidebar h4 {
	
}

/* Links */

a {
	color: #ff6600;
	text-decoration: none;
}

a:hover {
	color: #000;
}

a:active {
	
}

a img,img {
	display: block;
	border: 3px solid #dadada;
	-webkit-transition: border-color linear 0.2s;
}

a img:hover {
	border: 3px solid #ff6600;
}

/* Paragraph styles */

p {
	margin-bottom: 1em;
}

em {
	font-style: italic;
}

acronym {
	border-bottom: 1px dotted #a6b3be;
	cursor: help;
}

.post ul {
	margin-left: 30px;
	margin-bottom: 1em;
}

.post ul li {
	list-style-position: outside;
	list-style-type: disc;
}

/* Article Styling */

.date, .meta a {
	color: #858585;
	text-shadow: #fff 0 1px 0;
}

.meta {
	font-size: 0.9em;
}

.meta a {
	margin-right: 20px;
}

.meta a:hover {
	color: #ff6600;
}

.category-link a {
	color: #fff;
	background-color: #ff6600;
	padding: 2px 5px;
	text-shadow: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	
}

.category-link a:hover {
	color: #000;
	
}

.author-info {
	font-size: 0.95em;
	color: #788490;
}

/* Form Styles */

input, textarea {
	font-weight: bold;
	font-size: 1.1em;
}

input.inactive {
	color: #bebebe;
}

/* Footer */

#footer, #copyright {
	color: #f7f7f7;
}

#footer {
	text-align: left;
}

#footer p, #copyright p {
	margin-bottom: 0;
	font-size: 0.9em;
	line-height: 1.4em;
}

#copyright, #copyright a {
	color: #8f9ba5;
	border: none;
}

#footer a:hover, #copyright a:hover {
	color: #ff6600;
}

.alert { background:red; color:white }