/*
hastuzeit Custom Login WP3.2+
Author: Matthias Kretschmann
Author URI: http://kremalicious.com
*/

html, body {
	background: #122d45 url(../images/back.png) repeat left top;
	height: 100%;
}

.login #nav a, .login #backtoblog a {
	color: #ec5325 !important;
}

#nav, #backtoblog {
	text-shadow: 0 -1px 0 #000;
}

#login h1 a {
	background: url(../images/hastuzeit-master.png) no-repeat left top;
	display: block;
	width: 220px;
	margin: 0 auto;
}

form {
	-webkit-box-shadow: 0px 1px 8px #000;
	-moz-box-shadow: 0px 1px 8px #000;
	box-shadow: 0px 1px 8px #000;
}