/* TYPOGRAPHY
=================================================
Document		: Typography CSS Document hastuzeit.de
Version			: 1.0.0
Client			: hastuzeit
Author			: Matthias Kretschmann
Author Contact	: krema@jpberlin.de
Author WebSite	: matthiaskretschmann.com
*/

/* @group THE RESET */
*,html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul,li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}strong{font-weight:700}em{font-style:italic}a img{border:none}

/* @end */

/* START */

body {
	text-align: center;
	font: normal 82.5%/1.7em Georgia, "Times New Roman", Times, serif;
	color: #122D45;
}

#wrapper {
	text-align: left;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	background: #f7f7f7 url(../images/content-back.png) repeat left top;
	text-shadow: #fff 0 1px 0;
}

#content  {
	font-size: 1.1em;
	text-align: left;
}

/* @group HTML Standard Elements */

img {
	border: none;
	-ms-interpolation-mode: bicubic;
}

code, pre {
	background: #f9f9f9;
	border: 1px solid #ccc;
	display: block;
	font-family: Consolas,"Bitstream Vera Sans Mono","Courier New",monospace;
	font-size: 1em;
	line-height: 1.6em;
	margin: 1.5em 10px;
	padding: .5em 10px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
}

abbr {
	border-bottom: 1px dotted #666;
	cursor: help;
	white-space: nowrap;
}

address {
	font-style: italic;
}

p {
	margin-bottom: 1.4em;
}

em {
	font-style: italic;
}

acronym {
	border-bottom: 1px dotted #a6b3be;
	cursor: help;
}

blockquote {
	color: #72808d;
	margin-left: 30px;
	padding-left: 10px;
	position: relative;
	clear: both;
}

.comment blockquote {
	margin-top: 1em;
}

blockquote:before  {
	font-size: 4em;
	position: absolute;
	content: "“";
	top: 10px;
	left: -15px;
}

.comment blockquote:before {
	left: 110px;
}

blockquote p {
	
}

cite {
	position: relative;
	display: inline;
}

cite.big {
	font-size: 1.3em;
	line-height: 1.3em;
	width: 190px;
	float: right;
	margin-left: 30px;
	margin-bottom: 20px;
	color: #72808d;
	margin-top: 20px;
	font-style: italic;
}

cite.big.left {
	float: left;
	margin-left: 0;
	margin-right: 20px;
}

cite.big:before  {
	font-size: 3em;
	position: absolute;
}

cite.big:before {
	content: "“";
	top: 5px;
	left: -30px;
}

cite.fn {
	font-weight: normal;
	font-style: normal;
}

dl {
	margin: 0px 0px 24px 0px;
}

dt {
	font-weight: bold;
	color: #000;
}

dd {
	margin-bottom: 24px;
}

hr {
	background-color: #ccc;
	border-width: 0;
	color: #ccc;
	height: 1px;
	line-height: 0;
	page-break-after: always;
	text-align: center;
	width: 98.5%;
	margin: 3em 10px;
	clear: both;
}

hr.line {
	border: none;
	height: 1px;
	width: 100%;
	display: block;
	background-color: #e4e4e4;
	clear: both;
	margin-top: 20px;
	margin-bottom: 10px;
}

small {
	font-size: 0.8em;
}

strong {
	font-weight: bold;
}

sub {
	bottom: -0.25em;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 0.33em;
	position: relative;
	vertical-align: baseline;
}

.hentry ul, .hentry ol {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
}

.hentry ul ul, .hentry ol ol {
	margin-top: 5px;
	margin-bottom: 10px;
}

.hentry ul li, .hentry ol li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 15px;
}

.hentry ul li {
	list-style-type: disc;
	list-style-position: outside;
}

.hentry ol li {
	list-style-type: decimal;
	list-style-position: outside;
}

.multicol {
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}

span.amp {
	font: italic 120% Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
}

/* @group Tables */

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
	margin: 1.5em 10px;
}

thead {
	background: #ccc;
	font-weight: bold;
}

th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	padding: .25em 10px;
}

tbody tr:hover {
	background: #eee;
}

tbody tr:nth-child(even) {
	background: #f9f9f9;
}

td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	padding: .25em 10px;
}


/* @end */

/* @end */

/* @group Headings */

@font-face {
	font-family: 'AllerBold';
	src: url('../fonts/Aller_Bd.eot');
	src: url('../fonts/Aller_Bd.woff') format('woff'), url('../fonts/Aller_Bd.ttf') format('truetype'), url('../fonts/Aller_Bd.svg#Aller-Bold') format('svg');
	font-weight: bold;
}

h1,h2,h3,h4,h5,h6, 
.next-links, 
p.subscribe-to-comments, #pinnwand .date, 
#front-admin, 
.comment-author, 
.reply, 
table.ec3_schedule, 
#secondnav, 
#respond form p, 
.comment.bypostauthor:before,
#authorinfo span,
a.post-edit-link, 
a#login-link.loggedin,
a#profile-edit-link,
#commentluv,
.similar-posts a,
.tabNavigation,
#beliebt a, #sidebar a,
.page-link strong,
#tiptip_holder {
	font-weight: bold;
	font-family: "AllerBold", "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
	text-shadow: #fff 0 1px 0;
}

h1, h2 {
	font-size: 2em;
	margin: 10px auto;
	line-height: 1.1em;
	clear: both;
}

.pagetitle {
	font-size: 1.8em;
	margin-bottom: 30px;
}

h2 a, #featured h4 a, #sidebarbottom h5 a {
	color: #122D45;
}

h2, h3 {
	font-size: 1.4em;
	margin-top: 25px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ff6600;
}

h2 {
	font-size: 1.7em;
}

h2.posttitle {
	border-bottom: none;
	font-size: 2em;
	margin: 10px 0;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

h5 {
	font-size: 1em;
}

h4.description {
	margin-top: -20px;
	margin-bottom: 30px;
	min-height: 22px;
}

.post h1, .post h2 a, #featured h4 a, .pagetitle {
	display: block;
	margin-bottom: 20px;
	margin-top: -5px;
	background-image: url(../images/heading-line.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	padding-top: 3px;
}

#main h3 {
	clear: both;
}

#secondnav {
	font-size: 0.8em;
	text-shadow: none;
}

#secondnav a:hover,
#front-admin a:hover {
	color: #122d45;
}

#secondnav a:active,
#front-admin a:active {
	color: #fff;
}

#secondnav .current_page_item a {
	color: #122d45;
	background: #e0e2e5 url(../images/hastuzeit-master.png) no-repeat 50px -103px;
	border-bottom: 1px solid #ff6600;
}

/* @end */

/* @group Links */

a {
	color: #122D45;
	border-bottom: 1px dashed #ff6600;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #ecedee;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;
}

a:hover, a:focus {
	color: #000;
	border-bottom-style: solid;
	background-color: #e0e2e5;
	-moz-outline-style: none;
}

a:active {
	background-color: #122D45;
	color: #fff;
	outline: none;
	text-shadow: none;
}

body a img, body img {
	display: block;
	border: 3px solid #dadada;
	-webkit-transition: border-color linear 0.2s;
}

a img:hover {
	border: 3px solid #ff6600;
}

.hentry a {
	
}

a.thickbox,
#featured a,
#header a {
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.hentry h2 a, 
.hentry h2 a:hover,
.hentry .comment-link a,
.hentry .comment-link a:hover,
.tabNavigation a,
#navigation a,
#pinnwand a,
#footernav a {
	border: none;
}

#header a,
.tabNavigation a,
#navigation a,
#footer a,
h2 a {
	background-color: transparent;
}

#featured a.more-link {
	border-bottom: 1px dashed #ff6600;
	padding-right: 20px;
}

#featured a.more-link:hover {
	border-bottom-style: solid;
}

#footer a {
	color: #ff6600;
}

#footer a:hover {
	background-color: #e0e2e5;
}

/* @end */

/* @group Paragraph Styles */

/* @end */

/* @group Navigation */

#navigation {
	font-size: 1.2em;
}

#navigation li ul {
	font-size: 0.8em;
}

#navigation,
#navigation a {
	color: #9fa9b3;
}

#navigation .current-cat a {
	color: #000;
	background: #e0e2e5;
}

#navigation li.feed a {
	text-align: left;
	font-size: 0.9em;
	line-height: 2.8em;
}

/* @end */

/* @group Article Styling */

.unterueber {
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 15px;
	border: none;
	line-height: 1.2em;
}

.author-link {
	font-style: italic;
}

.meta, 
.meta a, 
.meta .category-link a {
	color: #a8aeb6;
	text-shadow: #fff 0 1px 0;
	-webkit-transition: color 0.2s linear;
}

.post:hover .meta, 
.post:hover .meta a, 
.post:hover .meta .category-link a {
	color: #122d45;
}

.meta {
	font-size: 0.8em;
}

.meta span {
	margin-right: 20px;
}

.meta a:hover {
	color: #ff6600;
}

#more-content li a,
.similar-posts li a {
	padding: 3px 5px 3px 10px;
	line-height: 1.3em;
}

#more-content li h4,
.similar-posts li h4 {
	font-size: 1em;
	margin: 0;
}

.category-link a, .post-edit-link,
.post:hover .meta .category-link a {
	color: #122D45;
	background-color: #e0e2e5;
	padding: 1px 5px;
	text-shadow: #fff 0 1px 0;
	border: 1px solid #ccc;
	margin-right: 20px;
	-webkit-transition: background 0.2s linear;
}

.category-link a:hover, input[type=submit]:hover, .comment-link a:hover, .next-links a:hover, #more-content a:hover,
.meta .category-link a:hover,
.similar-posts li a:hover {
	color: #fff !important;
	background-color: #ff6600 !important;
	text-shadow: #666 0 1px 0 !important;
}

.category-link a:active, input[type=submit]:active, .comment-link a:active, .next-links a:active,
.meta .category-link a:active {
	background-color: #000;
	color: #fff;
}

.meta .category-link a {
	background-color: rgba(224,226,229,0.3);
	border-color: rgba(204,204,204,0.5);
}

a.more-link {
	margin-top: 1em;
	background-image: url(../images/hastuzeit-master.png);
	background-repeat: no-repeat;
	background-position: right -276px;
	padding-right: 22px;
}

.meta span.comment-link {
	margin-right: 0;
}

.comment-link a {
	background: url(../images/hastuzeit-master.png) no-repeat -437px -92px;
	padding-left: 18px;
	display: block;
	padding-right: 10px;
}

.next-links {
	line-height: 1.3em;
}

.heftbadge {
	line-height: 1em;
	color: #fff !important;
	text-shadow: #444 0 1px 0 !important;
	opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.heftbadge:hover {
	color: #ff6600 !important;
}

.post:hover .meta .heftbadge  {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
}

.page-link {
	border-top: 3px double #ff6600;
	border-bottom: 1px solid #ff6600;
	padding-top: 15px;
	padding-bottom: 0;
	margin-bottom: 40px;
	clear: both;
}

.page-link a {
	padding: 10px 20px;
	margin: 0 5px;
}

.page-link strong {
	margin-right: 20px;
}

#tags a:before {
	content: '#';
	color: #a8aebb;
}

/* @end */

/* @group Featured */

#featured h2 {
	font-size: 1.7em;
	clear: none;
	margin-top: 5px;
	line-height: 1.1em;
}

#featured h3 {
	font-size: 1.1em;
}

#featured h4 {
	margin: 10px 20px 0;
	padding: 0;
	border-bottom: 1px solid #ff6600;
}

#ausgabe h3 {
	font-size: 1.2em;
}

#ausgabe h4  {
	font-size: 0.9em;
}

#nextausgabe {
	font-size: 0.8em;
	line-height: 1.4em;
}

#nextausgabe:hover {
	color: #122d45;
}

/* @end */

/* @group Heftarchiv */

.page-template-page-heftarchiv-php #main .post {
	font-size: 0.7em;
}

.page-template-page-heftarchiv-php #main h2 {
	border-bottom: 1px solid #ff6600;
}

.page-template-page-heftarchiv-php #main .post h3 {
	color: #ccc;
	font-size: 2em;
	padding: 0;
	line-height: 1.2em;
	border-color: #ccc;
}

.page-template-page-heftarchiv-php #main .post p {
	margin: 0;
}

.page-template-page-heftarchiv-php h3#readiculum {
	margin-top: 60px;
}

/* @end */

/* @group Sidebar */

#sidebar {
	font-size: 0.9em;
	text-shadow: #fff 0 1px 0;
}

#sidebar li {
	line-height: 1.4em;
	margin: 5px 0;
}

#sidebar a {
	display: block;
}

#sidebar h4 {
	margin-bottom: 5px;
	margin-top: 0;
}

#sidebarbottom h5 {
	margin-bottom: 0;
	font-size: 1.1em;
}

#sidebar #sidebarbottom .more .more-link {
	display: block;
	background-color: #e0e2e5;
}

#sidebar input[type=text] {
	font-size: 1.1em;
}

#sidebar #sidebarbottom .more .more-link.new-post {
	padding-right: 10px;
	padding-left: 25px;
	color: #fff !important;
	text-shadow: none;
	background: #00cf00 url(../images/Admin-Icons.png) no-repeat 265px -38px;
	border: 1px solid #005f03;
}

/* @group Tabs */

.tabNavigation a {
	padding: 10px 15px;
	color: #9fa9b3;
	font-size: 1.1em;
}

.tabNavigation a:hover {
	color: #888f99;
}

.tabNavigation a.current {
	color: #122d45;
	background: url(../images/hastuzeit-master.png) no-repeat 30px -86px;
}

.tabNavigation a#linkComments.current {
	background-position: 50px -86px;
}

#tabs h4 {
	font-size: 0.9em;
}

#recentcomments .url {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: normal;
}

#recentcomments a {
	border-bottom: none;
}

/* @end */

#pinnwand .date {
	font-size: 0.8em;
	margin: 0;
	display: block;
	color: #a8aeb6;
}

.widget_rss a,
.widget_links a,
.ec3_events a {
	font-size: 0.9em;
	border-bottom: none;
}

/* @end */

/* Form Styles */

input, textarea, label, .label {
	font-weight: bold;
	font-size: 1.1em;
	font-family: "AllerBold", "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
}

label, .label {
	font-size: 1em;
	color: #a8aeb6;
}

input.inactive,
textarea.inactive {
	color: #bebebe;
}

/* @group Search */

.search-results .hentry {
}

.search-results .hentry .meta {
	font-size: 0.7em;
}

.search-results .hentry .meta span {
	margin-right: 5px;
}

.search-results .hentry h2 {
	margin-top: 2px;
	margin-bottom: 0;
	font-size: 1.3em;
}

.search-results .hentry h2.unterueber {
	font-size: 0.9em;
}

.search-results .hentry a.post-edit-link {
	font-size: 0.65em;
	clear: both;
}

#live-search {
	text-align: left;
}

.live-results h4 {
	font-size: 1em;
	line-height: 1.5em;
	color: #5e5e5e;
	margin: 0;
}

.live-results a {
	display: block;
	padding: 5px 10px;
	color: #5e5e5e;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ccc;
}

.live-results a:hover {
	color: #ff6600;
	background-color: #fff;
}

.live-results a:active {
	background-color: #122D45;
	color: #fff;
	text-shadow: none;
}

strong.hls {
	background-color: #f8ffa9;
	padding: 2px;
}

/* @end */

/* Comments */

#respond input, #respond textarea {
	font-size: 0.9em;
}

#respond form p.subscribe-to-comments {
	font-size: 0.9em;
	line-height: 1.2em;
}

.comment-author, .comment-meta, .comment-meta a, .reply {
	font-size: 0.9em;
	line-height: 1.2em;
	color: #b1b7c1;
}

#commentluv a {
	color: #a8aeb6;
	margin-left: 1px;
}

.depth-2 {
	font-size: 0.95em;
}

.textfade {
	color: #9fa9b3;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
}

.textfade:hover {
	color: #122d45;
}

#tiptip_holder {
	font-size: 0.9em;
	text-align: left;
	line-height: 1.3em;
}

/* @group Footer */

#footer {
	color: #f7f7f7;
}

#footer {
	text-align: left;
}

#footer p {
	margin-bottom: 0;
	font-size: 0.9em;
	line-height: 1.4em;
}

#footer a {
	padding: 3px 5px;
	display: inline-block;
}

#footer .current_page_item a {
	background-image: none;
}

#copyright, #copyright a {
	color: #8f9ba5;
	border-bottom: 1px dotted #5f6366;
	text-align: center;
}

#copyright a {
	padding: 0 2px;
}

#copyright a:hover {
	color: #000;
	border-bottom-color: #ff6600;
	border-bottom-style: solid;
}

/* @end */

/* @group WordPress Styles */
.wp-caption {
	font-size: 0.8em;
	line-height: 1.3em;
}

.wp-caption-text {
	margin-top: 5px;
	margin-left: 2px;
}

/* @end */

.facebooklike {
	margin-top: 20px;	
}

/*Hochschulwahl 2010/2011 Artikel*/

.postid-3722 #sidebar,
.postid-3725 #sidebar,
.postid-3727 #sidebar,
.postid-3729 #sidebar,
.postid-3846 #sidebar,
.postid-6660 #sidebar,
.postid-6665 #sidebar {
	display: none;
}

.postid-3722 #main,
.postid-3725 #main,
.postid-3727 #main,
.postid-3729 #main,
.postid-3846 #main,
.postid-6660 #main,
.postid-6665 #main {
	width: 100%;
}

.tag-hochschulwahl-2010.tag-kandidaten .accordionContent span,
.post-3729 span,
.tag-hochschulwahl-2011.tag-kandidaten .accordionContent span,
.post-6660 span,
.tag-hochschulwahl-2011.tag-kandidaten .accordionContent span,
.post-6665 span {
	width: 140px;
	display: block;
	float: left;
	font-weight: bold;
	font-family: "AllerBold", "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 0.9em;
	color: #b1b7c1;
}

.tag-hochschulwahl-2010.tag-kandidaten img.alignleft,
.post-3846 img.alignleft,
.tag-hochschulwahl-2011.tag-kandidaten img.alignleft,
.post-6660 img.alignleft,
.tag-hochschulwahl-2011.tag-kandidaten img.alignleft,
.post-6665 img.alignleft {
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
	margin-left: -50px;
}