/* main CSS Document */

/* DOCUMENT INFORMATION
===========================================
	- Document		: Theme name
	- Version		: 1.0.0
	- Client		: Client
	- Author		: Matthias Kretschmann
	- Author Contact: krema@jpberlin.de
	- Author WebSite: www.kremalicious.com
*/

/* GLOBAL SETTINGS 
===========================================*/

/* CSS RESET (the Eric Meyer one) */

html, body {
	margin: 0;
	padding: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	border-left: 0;
}

body {
	line-height: 1;
	color: black;/*adjust to your colors*/
	background: white;/*adjust to your colors*/
}

div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

/* end CSS RESET */

/* PRIMARY LAYOUT
============================================ */

html {
	background: url(images/back.png) repeat left top;
}

body {
	text-align: center;
	font: 82.5%/1.7em Georgia, "Times New Roman", Times, serif;
	max-width: 640px;
	padding: 10px 10px 0;
	margin: 10px auto 0;
	background-color: #f8f7f7;
	height: 100%;
	text-shadow: #fff 0 1px 0;
	border: 1px solid #fff;
}
#header {
	background-color: #738499;
	height: 120px;
	margin-bottom: 15px;
}
#content {
	overflow: auto;
}
#footer {
	clear: both;
	margin-top: 15px;
}

/* TEXT, IMAGE, LINKS RELATED
============================================ */

p {
	
}

p,h1,h2,h3,h4,h5,h6,ul,ol {
	margin-bottom: .5em
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h1 {
	font-size: 197%; /* 26px */
}


h2 {
	font-size: 182%; /* 24px */
}

h3 {
	font-size: 167%; /* 22px */
}

h4 {
	font-size: 152%; /* 20px */
}

h5 {
	font-size: 136%; /* 18px */
}

/* Paragraph styles */
p {
	
}

/* Links */
a {
	text-decoration: none;
	color: #252e1c;
}

a:hover {
	
}

a:active {
	
}

a img,img {
	border: none;
	display: block;
}

/* List styles */
ul {
	
}

ul li {
	
}

pre {
	
}

code {
	
}

/* GENERAL STYLES
============================================ */

form {
	
}

table {
	
}

button {
	
}


/* ALL THE REST
============================================ */

/* jQuery Countdown styles 1.5.3. */
.hasCountdown {
	width: 40%;
	margin: 0 auto;
	overflow: auto;
}
.countdown_rtl {
	direction: rtl;
}
.countdown_row {
	clear: both;
	padding: 0px 2px;
	text-align: center;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #fff;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}


