/* DOCUMENT INFORMATION
===========================================
Document		: main CSS Document hastuzeit Teaser
Version			: 1.0.0
Client			: hastuzeit
Author			: Matthias Kretschmann
Author Contact	: krema@jpberlin.de
Author WebSite	: matthiaskretschmann.com
*/

/* CSS RESET (the Eric Meyer one) */
html,body{font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;border-left:0;margin:0;padding:0}div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:400}
/* end CSS RESET */

/* PRIMARY LAYOUT
============================================ */

div {
	position: relative;
}

html {
	background: url(images/back.png) repeat left top;
	width: 100%;
}

body {
	text-align: center;
	font: 82.5%/1.6em Georgia, "Times New Roman", Times, serif;
	height: 100%;
	text-shadow: #fff 0 1px 0;
	position: relative;
	color: #122D45;
}

#header {
	text-indent: -9999999px;
	height: 103px;
	width: 620px;
	margin: 0 auto;
}

#header h1 {
	background: url(images/SpriteMaster.png) no-repeat left -92px;
	width: 612px;
	height: 82px;
	position: absolute;
	top: -4px;
	left: 13px;
	z-index: 1;
}

#content {
	text-align: left;
	font-size: 1.05em;
	background-color: #f7f7f7;
	padding: 10px 20px;
	border: 1px solid #fff;
	width: 566px;
	z-index: 2;
	margin: -40px auto 10px;
}

#counter {
	border-top: 3px double #ff6600;
	margin-top: 10px;
	border-bottom: 1px solid #ff6600;
}

#defaultCountdown {
	width: 479px;
	height: 77px;
	background: url(images/SpriteMaster.png) no-repeat left top;
	color: #a5a5a5;
	position: absolute;
	left: -41px;
	padding-left: 170px;
	padding-top: 15px;
	top: 85px;
}

#main {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ff6600;
	padding-top: 25px;
	float: left;
	padding-bottom: 25px;
}
#footer {
	clear: both;
	margin-top: 25px;
	border-top: 3px double #ff6600;
	padding-top: 15px;
	font-size: 0.85em;
	color: #8f9ba5;
	text-align: center;
}

/* TEXT, IMAGE, LINKS RELATED
============================================ */

p,h1,h2,h3,h4,h5,h6,ul,ol {
	margin-bottom: .8em
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	font-family: "Trebuchet MS", "Lucida Grande", Lucida, Verdana, sans-serif;
}

h1 {
	font-size: 197%;
}


h2 {
	font-size: 2em;
	border-bottom: 3px solid #ff6600;
	width: 300px;
	margin: 30px auto 140px;
	text-align: center;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 20px;
}

h4 {
	font-size: 152%; /* 20px */
}

h5 {
	font-size: 136%; /* 18px */
}

/* Paragraph styles */

em {
	font-style: italic;
}

/* Links */
a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #ff6600;
	-webkit-transition: color linear 0.2s;
}

a:hover, #inhalt a:hover {
	color: #ff6600;
}

#footer a {
	color: #8f9ba5;
	border: none;
}

#footer a:hover {
	color: #000;
	border-bottom: 1px solid #ff6600;
}

a:active {
	
}

a img,img {
	display: block;
	border: 3px solid #dadada;
	-webkit-transition: border-color linear 0.2s;
}

a img:hover {
	border: 3px solid #ff6600;
}


/* ALL THE REST
============================================ */

#umbau, #ausgabe, #inhalt {
	width: 32%;
	float: left;
}

#umbau {
	margin-right: 30px;
}

#ausgabe {
	width: 26%;
	margin-right: 20px;
}

#ausgabe img {
	margin-bottom: 10px;
}

#inhalt {
	margin-top: 40px;
	font-size: 0.9em;
	line-height: 1.5em;
	color: #63717d;
}

#inhalt li {
	list-style-type: circle;
	list-style-position: outside;
}

#inhalt a {
	color: #63717d;
}

#asq {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ff6600;
	padding-top: 25px;
	padding-bottom: 25px;
	float: left;
}

#asq .left, #asq .right, #impressum ul, #impressum p {
	width: 46%;
}

#impressum {
	clear: both;
	border-top: 1px solid #fff;
	padding-top: 25px;
	font-size: 0.9em;
	color: #63717d;
	line-height: 1.6em;
	float: left;
	margin-bottom: 25px;
}

#impressum li, #impressum p {
	padding-left: 25px;
}

.url, .email, .address, #impressum p, a.valid {
	background-image: url(images/SpriteMaster.png);
	background-repeat: no-repeat;
}

#impressum p {
	background-position: -613px -159px;
}

.url {
	background-position: -632px -86px;
}

.email {
	background-position: -632px -110px;
}

.address {
	background-position: -632px -137px;
}

#footer p {
	margin-bottom: 0;
	line-height: 1.5em;
}

a.valid {
	padding-left: 15px;
	background-position: 0 -177px;
}

.clear {
	clear: both;
	float: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* jQuery Countdown styles 1.5.3. */
.countdown_rtl {
	direction: rtl;
}
.countdown_row {
	clear: both;
	padding: 0px 2px;
	text-align: center;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.countdown_amount {
	font-size: 300%;
	color: #000;
	
}
.countdown_descr {
	display: block;
	width: 100%;
}